<li id="<%= dom_id purchase %>" class="group-list border">
<div class="list-mid p-mid">
  <div class="name-div">
    <h3><%= purchase.name %></h3>
  </div>

  <div class="amount-div">
   <span> <strong>Amount:</strong></span>
    <span><%= purchase.amount %><span>
  </div>
</div>
</li>
